@import '../../styles/variables';

.home-container {
  background: #131517;

  .item-controller {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
    margin: 0 auto;
    padding-top: 2rem;
    width: 90%;

    &__switch {
      background: none;
      border: none;
      border-image-slice: 1;
      border-bottom: 3px solid rgba(83,50,201,0.4);
      border-radius: 10px;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 3px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-family: "Alegreya Sans",sans-serif;
      font-weight: bold;
      letter-spacing: .4rem;
      outline: none;
      padding: .2rem;
    }

    &__tvs {
      background: none;
      border: none;
      border-image-slice: 1;
      border-bottom: 3px solid rgba(255,86,132,0.4);
      border-radius: 10px;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 3px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-family: "Alegreya Sans",sans-serif;
      font-weight: bold;
      letter-spacing: .4rem;
      outline: none;
      padding: .2rem;
      text-transform: uppercase;
  }

    
  }
}

@media only screen and (min-width: 500px) {
  .home-container {

    .item-controller {
      padding-top: 4rem;
    }

    &-main {
      padding: 2rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .home-container {

    .item-controller {
      margin: 2rem auto 1rem;
      max-width: 77%;
    }

    &-main {
      padding: 2rem 4rem;
      margin: 0 auto;
      max-width: 80%;
    }
  }
}
